<template>
  <div class="spinner">
    <span class="spinner-inner-1"></span>
    <span class="spinner-inner-2"></span>
    <span class="spinner-inner-3"></span>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "Spinner",
});
</script>

<style lang="sass" scoped>
/*
 * Copyright (c) 2021 by Connor Munro (https://codepen.io/cbmunro/pen/rxbKZg)
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 * /

$spinner: #41b883
$background: white
$size: 30px

.spinner
  position: absolute
  top: calc(50% - #{$size / 2})
  left: calc(50% - #{$size / 2})
  width: $size
  height: $size
  animation: spinner 0.75s linear infinite

  span
    position: absolute
    width: 100%
    height: 100%
    border-radius: 50%

  .spinner-inner-1
    background: linear-gradient(to right, rgba($spinner, 0) 0%, rgba($spinner, 0) 50%, $spinner 51%)

  .spinner-inner-2
    background: linear-gradient(to top, rgba($background, 0) 0%, $background 100%)

  .spinner-inner-3
    $offset: $size * 0.1
    top: $offset
    left: $offset
    width: $size - ($offset * 2)
    height: $size - ($offset * 2)
    background: $background

@keyframes spinner
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)
</style>
