<template>
  <label>
    <textarea
      :rows="textareaRows"
      placeholder="Skriv her"
      v-model="store.text"
    />
  </label>
  <Slider v-model.number="store.threshold" :min="0" :max="10000" :step="100" />
  <label>
    <textarea :rows="textareaRows" disabled v-model="store.obfuscatedText" />
  </label>
  <Spinner v-if="store.loading" />
</template>

<script lang="ts">
import { defineComponent, watch } from "vue";
import Slider from "@vueform/slider";
import Spinner from "@/components/Spinner.vue";
import { useStore } from "@/store";
import { debounce } from "debounce";

const intervalMillis = 500;

export default defineComponent({
  components: {
    Slider,
    Spinner,
  },
  data() {
    return {
      textareaRows: 20,
    };
  },
  setup() {
    const store = useStore();
    watch(
      () => [store.text, store.threshold],
      debounce(() => store.updateObfuscatedText(), intervalMillis)
    );
    return { store };
  },
});
</script>

<style lang="sass">
#app
  font-family: Avenir, Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: #2c3e50
  margin-top: 60px

@import "~@vueform/slider/themes/default.css"

textarea
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  display: block
  width: 100%
  margin: 10px 0

div#slider
  margin: auto
  width: 95%
</style>
